
<h3>Delete</h3>
@*<form asp-action="DeletePerson" asp-controller="Person" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <h4>Delete by ID</h4>
    <input asp-for="DeleteQuery" type="text" />
    <span asp-validation-for="DeleteQuery"></span>

    <button type="submit" value="DeletePerson">Submit</button>
</form>*@
<a asp-action="ViewPeople">Back</a>

@*An Details view that shows all information about a single person.
o A link that when clicked, deletes that person. *@