@model People_MVC_assignment_Lexicon.Models.ViewModels.CreatePersonViewModel
<h3>Create</h3>
@*<form asp-action="placeholder" asp-controller="placeholder">
    <input type="text" name="firstName" value="" placeholder="First name." />
    <input type="text" name="lastName" value="" placeholder="Last name." />
    <input type="text" name="city" value="" placeholder="City." />
    <input type="number" name="age" value="" placeholder="Age." />

    <input type="submit" />
</form>*@

<form asp-action="NewPerson" asp-controller="Person" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <h4>First name</h4>
    <input asp-for="firstName" type="text" />
    <span asp-validation-for="firstName"></span>
    <h4>Last name</h4>
    <input asp-for="lastName" type="text" />    <span asp-validation-for="lastName"></span>
    <h4>City of birth</h4>
    <input asp-for="city" type="text" />    <span asp-validation-for="city"></span>
    <h4>Age</h4>
    <input asp-for="age" type="number" />
    <span asp-validation-for="age"></span>
    <button type="submit" value="NewPerson">Submit</button>
</form>
<a asp-action="ViewPeople">Back</a>

