<div class="row">
    <div class="col-1"><b>ID</b></div>
    <div class="col-1"><b>First Name</b></div>
    <div class="col-1"><b>Last Name</b></div>
    <div class="col-1"><b>Age</b></div>
    <div class="col-1"><b>City</b></div>
    <div class="col-1"><b>Phone</b></div>
    <div class="col-1"><b>Details</b></div>
</div>