@model List<City>
<h3>ViewCity</h3>

<partial name="CitiesHeader"></partial>

@foreach (City city in Model)
{
    <partial name="_PartialCities" model="city"></partial>
}

<partial name="SearchCity" model="Model"></partial>

<partial name="DeleteCity" model="Model"></partial>

