@model List<Country>

<h1>Details page</h1>

<div class="row">
    <div class="col-1"><b>ID</b></div>
    <div class="col-1"><b>Name</b></div>
    <div class="col-1"><b>Details</b></div>
</div>

@foreach (Country country in Model)
{
    <div class="row">
        <div class="col-1">@country.CountryId</div>
        <div class="col-1">@country.Name</div>
    </div>
}

<a asp-action="ViewLanguages">Back</a>