@model List<Country>
<h3>Delete</h3>

<form method="get" action="@Url.Action("DeleteCountry", "Countries")">
    <label for="delete">Delete</label>
    <input type="number" name="delete" id="delete" />
    <button type="submit">Execute deletion</button>
</form>